CrowdScannerMindField.xcodeproj/xcuserdata/*
CrowdScannerMindField.xcodeproj/project.xcworkspace/xcuserdata/*
Pods/*
PeopleHunt.xcworkspace/*
PeopleHunt.xcodeproj/xcuserdata/*
UserInterfaceState.xcuserstate
.DS_Store
